.header {
	position: fixed;
	display: flex;
	top: 0;
	width: 100vw;
	padding: 16px 24px;
	z-index: 9;
}

.header--group {
	display: flex;
}
.header--group--right {
	margin-left: auto;
}
.header--group > * {
	margin-right: 8px;
}
.header--group > *:last-child {
	margin-right: 0;
}


.header--pill-wrapper {
	position: relative;
}
.header--pill-wrapper:hover ul,
.header--pill-wrapper:focus ul {
	display: block;
}
.header--pill {
	background: white;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  height: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--pill.square {
	width: 42px;
}
.header--pill.no-padding {
	padding: 0;
}
