#dashboard .dashboard--card-list {
	width: 83%;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#dashboard .dashboard--card {
	width: 24%;
	height: 300px;
    margin: 0 0.5% 1% 0.5%;
    
    background: white;
}
#dashboard .dashboard--card:hover,
#dashboard .dashboard--card:focus {
	box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
}

#dashboard .dashboard--card .dashboard--card--image-wrapper {
	height: 150px;
	width: 100%;
	
	background: gray;
}
#dashboard .dashboard--card .dashboard--card--content {
	padding: 16px;
}
#dashboard .dashboard--card .dashboard--card--content div {}
#dashboard .dashboard--card .dashboard--card--content h2 {}