#dashboard {}
#dashboard main {	
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
    
	padding: 72px 24px 24px;
}
#dashboard main nav {
	width: 15%;
	margin-right: 2%;
}