#dashboard {
	background: url('../../assets/blob_large-hero.svg');
	min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 200% -500%;
}
#dashboard main {	
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
    
	padding: 72px 24px 24px;
}
#dashboard main nav {
	width: 240px;
	margin-right: 2%;
	background: white;
	padding: 16px;
	border-radius: 4px;
}