#workshop .agenda .agenda--day {
	background: white;
	padding: 24px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 0 0 24px;
}
#workshop .agenda .agenda--day .draggable {
	position: absolute;
  left: -30px;
  font-size: 1.25rem;
}

#workshop .agenda .agenda--day .agenda--day--header {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

#workshop .agenda .agenda--day .agenda--day--activity-list {
  position: relative;
}

#workshop .agenda .activities--popup {
	position: absolute;
  display: flex;
  background: white;
  top: 100%;
  margin-top: 10px;
  padding: 16px;
  z-index: 9;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
}
#workshop .agenda .activities--popup .activities--popup--col {
	margin: 0 8px;
	text-align: left;
}