#dashboard .dashboard--team-list {}
#dashboard .dashboard--team-list li {
	transition: 0.5s all;
	cursor: pointer;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 17px;
}
#dashboard .dashboard--team-list li:hover,
#dashboard .dashboard--team-list li:focus {
	opacity: 0.65;
	margin-left: 8px;
}
#dashboard .dashboard--team-list li.active {
	font-weight: 700;
	color: #008075;
}
#dashboard .dashboard--team-list li.active:hover,
#dashboard .dashboard--team-list li.active:focus {
	margin-left: 0;
	opacity: 1;
}
